# Unity specific
unity/IFE-VR-UNITY/[Ll]ibrary/
unity/IFE-VR-UNITY/[Tt]emp/
unity/IFE-VR-UNITY/[Oo]bj/
unity/IFE-VR-UNITY/[Bb]uild/
unity/IFE-VR-UNITY/[Bb]uilds/
unity/IFE-VR-UNITY/[Ll]ogs/
unity/IFE-VR-UNITY/[Mm]emoryCaptures/
unity/IFE-VR-UNITY/[Uu]ser[Ss]ettings/

# Memory Captures (large files)
unity/IFE-VR-UNITY/MemoryCaptures/

# Uncomment if ignoring asset store tools plugin
# unity/IFE-VR-UNITY/[Aa]ssets/AssetStoreTools*

# Jetbrains Rider & VS Code
unity/IFE-VR-UNITY/[Aa]ssets/Plugins/Editor/JetBrains*
unity/IFE-VR-UNITY/.idea/
unity/IFE-VR-UNITY/.vscode/

# Visual Studio
unity/IFE-VR-UNITY/.vs/
*.rsuser
*.suo
*.user
*.userprefs
*.sln.docstates

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon            # Icon must end with two \r
._*

# Files on external disks
.Spotlight-V100
.Trashes

# Unity auto generated
unity/IFE-VR-UNITY/UnityGenerated/
unity/IFE-VR-UNITY/*.pidb.meta
unity/IFE-VR-UNITY/*.bak*
unity/IFE-VR-UNITY/sysinfo.txt

# Mono
mono_crash.*
